<app-accordion-panel title="משכורות" [badge]="badge" [level]="2">
  <div class="inner-padded">
    <app-accordion-panel
      *ngFor="let m of getSortedMembers(); let i = index"
      [title]="getMemberTitle(i, m)"
      [badge]="memberBadge(m)"
      [level]="3"
    >
      <!-- GROSS CURRENT -->

      <div class="leaf">
        <span class="leaf-label"> שכר ברוטו נוכחי </span>

        <span class="leaf-val"> {{ m.gross_income | number: "1.0-0" }} ₪ </span>
      </div>

      <!-- GROSS UPDATED -->

      <div class="leaf">
        <span class="leaf-label"> שכר ברוטו מעודכן </span>

        <div class="salary-update-row">
          <input
            class="leaf-input"
            type="text"
            [ngModel]="formatMoney(m.tempGross)"
            (ngModelChange)="onGrossInput(m, $event)"
          />
        </div>
      </div>
      <!-- NET CURRENT -->

      <div class="leaf">
        <span class="leaf-label">שכר נטו</span>

        <span class="leaf-val">
          {{ m.expectedSalary | number: "1.0-0" }} ₪
        </span>
      </div>

      <!-- NET UPDATED -->

     
    </app-accordion-panel>
  </div>
</app-accordion-panel>
