<ng-container *ngIf="result() as r">

  <!-- 🔹 הפרש תזרימי -->
  <div class="net-box">
    <span class="net-label">הפרש תזרימי</span>
    <span
      class="net-val"
      [class.red]="r.cashFlowDiff > 0"
      [class.green]="r.cashFlowDiff <= 0"
    >
      {{ r.cashFlowDiff < 0 ? '▼' : '▲' }}
      <span class="num">{{ r.cashFlowDiff | number:'1.0-0' }}</span> ₪
    </span>
  </div>

  <!-- 🔹 הפרש כלכלי -->
  <div class="net-box">
    <span class="net-label">הפרש כלכלי</span>
    <span
      class="net-val"
      [class.red]="r.economicDiff > 0"
      [class.green]="r.economicDiff <= 0"
    >
      {{ r.economicDiff < 0 ? '▼' : '▲' }}
      <span class="num">{{ r.economicDiff | number:'1.0-0' }}</span> ₪
    </span>
  </div>

</ng-container>