<ng-container *ngIf="simFamily as r">

  <app-accordion-panel title="מצב קיים" [badge]="badge" [level]="1">

    <div class="leaf">
      <span class="leaf-label">חלוקת תקציב</span>
      <span class="leaf-val green">{{ r.budget_distribution | number:'1.0-0' }} ₪</span>
    </div>

    <div class="leaf">
      <span class="leaf-label">תגמול אישי</span>
      <span class="leaf-val green">{{ r.personal_bonus | number:'1.0-0' }} ₪</span>
    </div>

    <div class="leaf">
      <span class="leaf-label">סל הטבות עבודת אישה</span>
      <span class="leaf-val green">{{ r.women_work_benefit | number:'1.0-0' }} ₪</span>
    </div>

    <div class="leaf">
      <span class="leaf-label">נסיעות</span>
      <span class="leaf-val green">{{ r.travel | number:'1.0-0' }} ₪</span>
    </div>

    <div class="leaf">
      <span class="leaf-label">מענק תקופתי</span>
      <span class="leaf-val green">{{ r.periodic_grant | number:'1.0-0' }} ₪</span>
    </div>

    <div class="leaf">
      <span class="leaf-label">מיוחד - עזרה בבית</span>
      <span class="leaf-val green">{{ r.special_help | number:'1.0-0' }} ₪</span>
    </div>

    <div class="total-row">
      <span>סה"כ</span>
      <span>{{ r.current_state | number:'1.0-0' }} ₪</span>
    </div>

  </app-accordion-panel>

</ng-container>