<app-accordion-panel title="מיסים" [badge]="badge" [level]="3" [badgeRed]="true">

  <div class="leaf">
    <span class="leaf-label">ערבות הדדית</span>
    <span class="leaf-val red">
      {{ result()!.mutualResponsibility | number:'1.0-0' }} ₪
    </span>
  </div>

  <div class="leaf">
    <span class="leaf-label">מס איזון</span>
    <span class="leaf-val red">
      {{ result()!.balanceTax | number:'1.0-0' }} ₪
    </span>
  </div>

  <div class="leaf">
    <span class="leaf-label">מס קהילה</span>
    <span class="leaf-val red">
      {{ result()!.communityTax | number:'1.0-0' }} ₪
    </span>
  </div>

  <div class="leaf">
    <span class="leaf-label">מס מוניציפלי</span>
    <span class="leaf-val red">
      {{ result()!.municipalTax | number:'1.0-0' }} ₪
    </span>
  </div>

  <div class="leaf">
    <span class="leaf-label">ארנונה</span>
    <span class="leaf-val red">
      {{ result()!.arnona | number:'1.0-0' }} ₪
    </span>
  </div>

  <div class="total-row">
    <span>סה"כ מיסים</span>
    <span class="leaf-val red">
      {{ result()!.taxes | number:'1.0-0' }} ₪
    </span>
  </div>

</app-accordion-panel>